@font-face
{
  font-family :iomanoid;
  src : url('fonts/iomanoid.ttf');
}

@font-face
{
  font-family :zorque;
  src : url('fonts/zorque.ttf');
}

#menu li
{
  display : inline-block;

  padding-right : 50px;

}
#menu a
{
  color: beige;
    text-decoration: none;
}
#searchbar input
{
    position : absolute;
    right: 100px;
    top: 40px;
    border : none;
    background-color: #4E5252;
    height : 35px;
    border-radius: 5px;
}

#menu ul
{
  text-align: center;
  text-decoration: none;
  color: beige;
}


body
{
  margin:0;
  background-image: url('ac.jpg');
  background-attachment:fixed; /*https://openweb.eu.org/articles/background_css*/
}

h1
{
  text-align: center;
  margin : 0px 0px 0px 0px;
}

h1 a
{
    font-family : iomanoid ;
    font-size: 55px;
    color:#CEBBA4;
    text-decoration: none;
}

#titre
{
  padding-left : 10px;
  border-style : solid;
  border-width : 1px;
  background-color : #303030;
}

#fin 
{
  color: red;
  font-family : iomanoid;
  size : 55px;
}

h2
{
  text-align : center;
  font-family : zorque;
  font-size : 15px;
  color : red;
}

header img
{
  width: 100px;
  margin-left : 7cm;
}

header
{
    font-size : 17px;
    width : 100%;
    padding-bottom : 14px;
}

footer
{
    width : 100%;
    margin-top : 105px;
    border-style : solid;
    border-width : 1px;
    background-color : #303030;
}

footer p
{
  font-size : 25px;
  font-family :zorque;
  color : beige;
  text-align : center;
}


#contenu img
{
  text-align: center;
  width : 150px;
}
 #contenu h3
 {
   color : beige;
 }
 #contenu
{
  border-radius:5px;
  border-style:solid;
  margin-left : 13%;
  margin-right: 13%;
  padding-bottom : 12px;
  background-color: #303030;
  font-family : zorque;
  border-width: 3px;
  text-align: center;
  border-color : black;
  margin-top : 50px;
}

#contenunul
{
  border-radius:5px;
  border-style:solid;
  margin-left : 13%;
  margin-right: 13%;
  margin-top : 14px;
  padding-bottom : 12px;
  background-color:  #303030;
  font-family : zorque;
  border-width: 3px;
  text-align: center;
  border-color : black;
}

#contenunul img
{
  text-align : center ;
  width : 150px;
}

#contenunul h3
{
  color : beige;
}
#pub
{
  text-align : center;
  margin-top : 14px;
}

#promo
{
  border-radius:5px;
  border-style:solid;
  margin-left : 23%;
  margin-right: 23%;
  margin-top : 14px;
  padding-bottom : 12px;
  background-color: #303030;
  font-family : zorque;
  border-width: 1px;
  text-align: center;
  border-width: 3px;
}

#promo img
{
  text-align : center ;
  width : 150px;
}

#promo h3
{
  color : beige;
}

/* FONCER L'IMAGE EN PASSANT LA SOURIS http://memo-web.fr/categorie-css-275.php */
#contenu img{
background:#000000;
display:inline-block;
}

#contenu{
-moz-transition: opacity 0.9s;
-webkit-transition: opacity 0.9s;
-o-transition: opacity 0.9s;
}
#contenu a:hover{
opacity:0.5;
-moz-transition: opacity 0.7s;
-webkit-transition: opacity 0.7s;
-o-transition: opacity 0.7s;
}

#contenunul img{
background:#000000;
display:inline-block;
}

#contenunul {
-moz-transition: opacity 0.9s;
-webkit-transition: opacity 0.9s;
-o-transition: opacity 0.9s;
}
#contenunul a:hover{
opacity:0.5;
-moz-transition: opacity 0.7s;
-webkit-transition: opacity 0.7s;
-o-transition: opacity 0.7s;
}

#promo img{
background:#000000;
display:inline-block;
}

#promo{
-moz-transition: opacity 0.9s;
-webkit-transition: opacity 0.9s;
-o-transition: opacity 0.9s;
}
#promo a:hover{
opacity:0.5;
-moz-transition: opacity 0.7s;
-webkit-transition: opacity 0.7s;
-o-transition: opacity 0.7s;
}
